<a href="https://colab.research.google.com/github/MashMaleLLO/Project_APS_CE_DEV/blob/master/DataPrep_APS_CE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -U pandasql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.41)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.3)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.12.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.8.1)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=4f7f2828e19ddbd737d3ec8b231de17bd96485cda7fd3c32ad797b76faf720ac
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [2]:
!pip install scikit-surprise

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting scikit-surprise
  Downloading scikit-surprise-1.1.1.tar.gz (11.8 MB)
     |████████████████████████████████| 11.8 MB 1.9 MB/s
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.1.0)
Requirement already satisfied: numpy>=1.11.2 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.21.6)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.7.3)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.7/dist-packages (from scikit-surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py) ... done
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp37-cp37m-linux_x86_64.whl size=1633971 sha256=3577c7c7c3a607b33c1d55905bb9c91ffc6f8f63bed9dc665cfbb0c6a9c3f733
  Stored in directory: /root/.cache/pip/wheels/76/44/74/b498c42be47b2406bd27994e16c5188e337c657025ab400c1c
Successfully built scikit-surprise
Installing collected packages: scikit-surprise
Successfully installed scikit-surprise-1.1.1

In [3]:
import pandas as pd
from pandasql import sqldf

# **Import** HashId CSV

In [165]:
df_WithNull = pd.read_csv('Hashid_ComData.csv',dtype={0:'string',1:'string'},encoding='TIS-620')
df = pd.read_csv('Hashid_ComData.csv',dtype={0:'string',1:'string'},encoding='TIS-620')
# df = df.dropna()
df_WithNull

,student_id,subject_id,grade,semester,year,curriculum
0,f31df81d081367bb50462e95405acd57,01006028,C+,1,2560,วิศวกรรมคอมพิวเตอร์
1,f31df81d081367bb50462e95405acd57,01006030,D,1,2560,วิศวกรรมคอมพิวเตอร์
2,f31df81d081367bb50462e95405acd57,01076001,C,1,2560,วิศวกรรมคอมพิวเตอร์
3,f31df81d081367bb50462e95405acd57,01076002,B+,1,2560,วิศวกรรมคอมพิวเตอร์
4,f31df81d081367bb50462e95405acd57,90201001,C+,1,2560,วิศวกรรมคอมพิวเตอร์
...,...,...,...,...,...,...
24348,3bb6c17d6c9b37e2d86a1bd9c8a3acd4,19016404,NaN,1,2564,วิศวกรรมดนตรีและสื่อประสม
24349,3bb6c17d6c9b37e2d86a1bd9c8a3acd4,19016505,NaN,1,2564,วิศวกรรมดนตรีและสื่อประสม
24350,3bb6c17d6c9b37e2d86a1bd9c8a3acd4,19016506,NaN,1,2564,วิศวกรรมดนตรีและสื่อประสม
24351,3bb6c17d6c9b37e2d86a1bd9c8a3acd4,90303005,NaN,1,2564,วิศวกรรมดนตรีและสื่อประสม
24352,3bb6c17d6c9b37e2d86a1bd9c8a3acd4,90594015,NaN,1,2564,วิศวกรรมดนตรีและสื่อประสม

# **Query Only Constrain Subject and Only Computer Department.**

In [166]:
q_for_Computer_ContrainSub = "SELECT * FROM (SELECT * FROM df WHERE curriculum = 'วิศวกรรมคอมพิวเตอร์' OR curriculum = 'วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)') WHERE subject_id NOT LIKE '90%'"
df = sqldf(q_for_Computer_ContrainSub)
df

,student_id,subject_id,grade,semester,year,curriculum
0,f31df81d081367bb50462e95405acd57,01006028,C+,1,2560,วิศวกรรมคอมพิวเตอร์
1,f31df81d081367bb50462e95405acd57,01006030,D,1,2560,วิศวกรรมคอมพิวเตอร์
2,f31df81d081367bb50462e95405acd57,01076001,C,1,2560,วิศวกรรมคอมพิวเตอร์
3,f31df81d081367bb50462e95405acd57,01076002,B+,1,2560,วิศวกรรมคอมพิวเตอร์
4,f31df81d081367bb50462e95405acd57,01006031,F,2,2560,วิศวกรรมคอมพิวเตอร์
...,...,...,...,...,...,...
8175,8b6c9ad43a4fd390abdebfb034b4b330,01076031,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
8176,8b6c9ad43a4fd390abdebfb034b4b330,01076103,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
8177,8b6c9ad43a4fd390abdebfb034b4b330,01076104,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
8178,8b6c9ad43a4fd390abdebfb034b4b330,01076112,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
8179,8b6c9ad43a4fd390abdebfb034b4b330,01076118,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)

# **Partial Query for Computer and Computer Special Program.**

In [167]:
q_for_Com = "SELECT * FROM df WHERE curriculum = 'วิศวกรรมคอมพิวเตอร์'"
q_for_SpCom = "SELECT * FROM df WHERE curriculum = 'วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)'"
df_for_Com = sqldf(q_for_Com)
df_for_SpCom = sqldf(q_for_SpCom)
df_for_SpCom

,student_id,subject_id,grade,semester,year,curriculum
0,10eb70b54b130d82f2c70add2d31091b,01006031,D,1,2560,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
1,10eb70b54b130d82f2c70add2d31091b,01076004,C,1,2560,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
2,10eb70b54b130d82f2c70add2d31091b,01076006,D,1,2560,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
3,10eb70b54b130d82f2c70add2d31091b,01076012,D+,1,2560,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
4,10eb70b54b130d82f2c70add2d31091b,01076009,D+,2,2560,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
...,...,...,...,...,...,...
1320,8b6c9ad43a4fd390abdebfb034b4b330,01076031,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
1321,8b6c9ad43a4fd390abdebfb034b4b330,01076103,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
1322,8b6c9ad43a4fd390abdebfb034b4b330,01076104,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
1323,8b6c9ad43a4fd390abdebfb034b4b330,01076112,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
1324,8b6c9ad43a4fd390abdebfb034b4b330,01076118,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)

# **Data Discovery 1 : Have to handle with nan value and T() value**

In [158]:
for col in df:
    print(df['grade'].unique())

['C+' 'D' 'C' 'B+' 'F' 'D+' 'A' 'S' 'B' None 'T(A)' 'T(B+)' 'T(B)' 'U']
['C+' 'D' 'C' 'B+' 'F' 'D+' 'A' 'S' 'B' None 'T(A)' 'T(B+)' 'T(B)' 'U']
['C+' 'D' 'C' 'B+' 'F' 'D+' 'A' 'S' 'B' None 'T(A)' 'T(B+)' 'T(B)' 'U']
['C+' 'D' 'C' 'B+' 'F' 'D+' 'A' 'S' 'B' None 'T(A)' 'T(B+)' 'T(B)' 'U']
['C+' 'D' 'C' 'B+' 'F' 'D+' 'A' 'S' 'B' None 'T(A)' 'T(B+)' 'T(B)' 'U']
['C+' 'D' 'C' 'B+' 'F' 'D+' 'A' 'S' 'B' None 'T(A)' 'T(B+)' 'T(B)' 'U']

# **Transfrom Grade Char() to Float()**

In [168]:

def transfromGrade(df):
  df.loc[df["grade"] == "A", "grade"] = 4
  df.loc[df["grade"] == "S", "grade"] = 4
  df.loc[df["grade"] == "T(A)", "grade"] = 4

  df.loc[df["grade"] == "B+", "grade"] = 3.5
  df.loc[df["grade"] == "T(B+)", "grade"] = 3.5

  df.loc[df["grade"] == "B+", "grade"] = 3.5
  df.loc[df["grade"] == "T(B+)", "grade"] = 3.5

  df.loc[df["grade"] == "B", "grade"] = 3
  df.loc[df["grade"] == "T(B)", "grade"] = 3

  df.loc[df["grade"] == "C+", "grade"] = 2.5
  df.loc[df["grade"] == "T(C+)", "grade"] = 2.5

  df.loc[df["grade"] == "C", "grade"] = 2
  df.loc[df["grade"] == "T(C)", "grade"] = 2

  df.loc[df["grade"] == "D+", "grade"] = 1.5
  df.loc[df["grade"] == "T(D+)", "grade"] = 1.5

  df.loc[df["grade"] == "D", "grade"] = 1
  df.loc[df["grade"] == "T(D)", "grade"] = 1

  df.loc[df["grade"] == "F", "grade"] = 0
  df.loc[df["grade"] == "T(F)", "grade"] = 0
  df.loc[df["grade"] == "U", "grade"] = 0

  return df

df_for_Com = transfromGrade(df_for_Com)
df_for_SpCom = transfromGrade(df_for_SpCom)

df_for_SpCom

,student_id,subject_id,grade,semester,year,curriculum
0,10eb70b54b130d82f2c70add2d31091b,01006031,1,1,2560,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
1,10eb70b54b130d82f2c70add2d31091b,01076004,2,1,2560,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
2,10eb70b54b130d82f2c70add2d31091b,01076006,1,1,2560,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
3,10eb70b54b130d82f2c70add2d31091b,01076012,1.5,1,2560,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
4,10eb70b54b130d82f2c70add2d31091b,01076009,1.5,2,2560,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
...,...,...,...,...,...,...
1320,8b6c9ad43a4fd390abdebfb034b4b330,01076031,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
1321,8b6c9ad43a4fd390abdebfb034b4b330,01076103,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
1322,8b6c9ad43a4fd390abdebfb034b4b330,01076104,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
1323,8b6c9ad43a4fd390abdebfb034b4b330,01076112,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)
1324,8b6c9ad43a4fd390abdebfb034b4b330,01076118,None,1,2564,วิศวกรรมคอมพิวเตอร์ (ต่อเนื่อง)

# **Check Data Discovery**

In [7]:
for col in df:
    print(df['grade_num'].unique())

[4.  3.  3.5 2.5 1.  2.  0.  1.5]
[4.  3.  3.5 2.5 1.  2.  0.  1.5]
[4.  3.  3.5 2.5 1.  2.  0.  1.5]
[4.  3.  3.5 2.5 1.  2.  0.  1.5]
[4.  3.  3.5 2.5 1.  2.  0.  1.5]
[4.  3.  3.5 2.5 1.  2.  0.  1.5]
[4.  3.  3.5 2.5 1.  2.  0.  1.5]

# **Check data type of column**

In [8]:
# student_id = df['student_id'].unique()
df.dtypes
# df['subject_id'] = df['subject_id'].astype("string")
# df

student_id     object
subject_id     string
grade          object
semester        int64
year            int64
curriculum     object
grade_num     float64
dtype: object

# **Load df to csv**

In [ ]:
df_student.to_csv('student_data.csv',index=False)
df_subject.to_csv('subject_data.csv', index=False)

# Ingest Subject **Data**

In [169]:
df_SubjectData = pd.read_csv('2560+2564.csv', dtype={1:'string',4:'string'}, encoding='TIS-620')

df_SubjectData

,id,subject_id,subject_name_thai,subject_name_eng,abstract,subject_key,subject_type,year,subject_class
0,0,01006030,แคลคูลัส 1,CALCULUS 1,"Function, Limit, Continuity and their applicat...",NaN,คณิตศาสตร์,2560,NaN
1,1,01006031,แคลคูลัส 2,CALCULUS 2,Functions of several variables and theirs appl...,NaN,คณิตศาสตร์,2560,NaN
2,2,01006032,สมการอนุพันธ์และพีชคณิตเชิงเส้นพื้นฐาน,ELEMENTARY DIFFERENTIAL EQUATIONS AND LINEAR A...,Systems of linear equations and solutions. vec...,NaN,คณิตศาสตร์,2560,NaN
3,3,01006004,การฝึกงานอุตสาหกรรม,INDUSTRIAL TRAINING,"During their four-year selected studies, stude...",NaN,เลือกภาค,2560,NaN
4,4,01006028,เตรียมความพร้อมสําหรับวิศวกร,PRE-ENGINEER ACTIVITIES,Participates in activities organized by the Fa...,NaN,เลือกภาค,2560,NaN
...,...,...,...,...,...,...,...,...,...
146,146,01076584,การจำลองระบบด้วยคอมพิวเตอร์,COMPUTER SIMULATION,Modeling and simulation; continuous and discre...,โครงสร้างพื้นฐานของระบบ,เลือกภาค,2564,NaN
147,147,01076592,ผู้ประกอบการกับวิศวกร,ENTREPRENEURSHIP AND THE ENGINEER,"Discusses basic concepts of marketing, busines...",วิชาบูรณาการ,เลือกภาค,2564,NaN
148,148,01076422,การประกอบการและการจัดการด้านเทคโนโลยีสารสนเทศ,IT ENTREPRENEURSHIP AND MANAGEMENT,This course covers the basic of IT entrepreneu...,วิชาบูรณาการ,เลือกภาค,2564,NaN
149,149,01076423,การวางแผนเชิงกลยุทธ์โดยใช้บอร์ดและการ์ดเกม,STRATEGIC PLANNING USING BOARD AND CARD GAME,"This course covers the strategic planning, stu...",วิชาบูรณาการ,เลือกภาค,2564,NaN
150,150,01076577,การจัดการโครงการเทคโนโลยีสารสนเทศ,IT PROJECT MANAGEMENT,Meaning of Project; Importance of information ...,วิชาบูรณาการ,เลือกภาค,2564,NaN

# **Change df_SubjectData Columns base subject id from char to int**

In [41]:
df_SubjectData.dtypes

id                     int64
subject_id            string
subject_name_thai     object
subject_name_eng      object
abstract              string
subject_key           object
subject_type          object
year                   int64
subject_class        float64
dtype: object

In [93]:
df_for_Com

,student_id,subject_id,grade,semester,year,curriculum
0,f31df81d081367bb50462e95405acd57,01006028,2.5,1,2560,วิศวกรรมคอมพิวเตอร์
1,f31df81d081367bb50462e95405acd57,01006030,1,1,2560,วิศวกรรมคอมพิวเตอร์
2,f31df81d081367bb50462e95405acd57,01076001,2,1,2560,วิศวกรรมคอมพิวเตอร์
3,f31df81d081367bb50462e95405acd57,01076002,3.5,1,2560,วิศวกรรมคอมพิวเตอร์
4,f31df81d081367bb50462e95405acd57,01006031,0,2,2560,วิศวกรรมคอมพิวเตอร์
...,...,...,...,...,...,...
6850,9591ba44152cb89516c3c373d3fc066f,01076140,None,1,2564,วิศวกรรมคอมพิวเตอร์
6851,60ca1ecc1b410f648f31c4c8c0c1326d,01076101,None,1,2564,วิศวกรรมคอมพิวเตอร์
6852,60ca1ecc1b410f648f31c4c8c0c1326d,01076103,None,1,2564,วิศวกรรมคอมพิวเตอร์
6853,60ca1ecc1b410f648f31c4c8c0c1326d,01076104,None,1,2564,วิศวกรรมคอมพิวเตอร์
6854,60ca1ecc1b410f648f31c4c8c0c1326d,01076140,None,1,2564,วิศวกรรมคอมพิวเตอร์

In [170]:
df_for_Com.dtypes
df_Temp = df_for_Com
df_for_Com_Train = df_Temp.dropna()
df_for_Com_Train

,student_id,subject_id,grade,semester,year,curriculum
0,f31df81d081367bb50462e95405acd57,01006028,2.5,1,2560,วิศวกรรมคอมพิวเตอร์
1,f31df81d081367bb50462e95405acd57,01006030,1,1,2560,วิศวกรรมคอมพิวเตอร์
2,f31df81d081367bb50462e95405acd57,01076001,2,1,2560,วิศวกรรมคอมพิวเตอร์
3,f31df81d081367bb50462e95405acd57,01076002,3.5,1,2560,วิศวกรรมคอมพิวเตอร์
4,f31df81d081367bb50462e95405acd57,01006031,0,2,2560,วิศวกรรมคอมพิวเตอร์
...,...,...,...,...,...,...
6132,ca5aad28e8ab8415bebae9c5ee531ea4,01006028,4,2,2563,วิศวกรรมคอมพิวเตอร์
6133,ca5aad28e8ab8415bebae9c5ee531ea4,01006031,1.5,2,2563,วิศวกรรมคอมพิวเตอร์
6134,ca5aad28e8ab8415bebae9c5ee531ea4,01076003,2,2,2563,วิศวกรรมคอมพิวเตอร์
6135,ca5aad28e8ab8415bebae9c5ee531ea4,01076004,2,2,2563,วิศวกรรมคอมพิวเตอร์
6136,ca5aad28e8ab8415bebae9c5ee531ea4,01076012,2,2,2563,วิศวกรรมคอมพิวเตอร์

In [171]:
q_find_AllSub = "SELECT DISTINCT(subject_id) FROM df_for_Com"
df_distinct_sub = sqldf(q_find_AllSub)
df_distinct_sub

   subject_id
0    01006028
1    01006030
2    01076001
3    01076002
4    01006031
..        ...
69   01046602
70   01006022
71   01006023
72   01046603
73   01236133

[74 rows x 1 columns]

# **NLP**

In [105]:
pip install --user -U nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.7)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk) (4.64.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk) (1.1.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk) (7.1.2)

In [107]:
import os
import gensim
import spacy
import en_core_web_sm
import nltk
import math
nltk.download('stopwords')
from nltk.corpus import stopwords
STOPWORDS = set(stopwords.words('english'))

nlp = en_core_web_sm.load()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [172]:
df_subject_pre_nlp = pd.read_csv('2560+2564.csv',dtype={1:'string'},encoding='TIS-620')
df_subject_pre_nlp

,id,subject_id,subject_name_thai,subject_name_eng,abstract,subject_key,subject_type,year,subject_class
0,0,01006030,แคลคูลัส 1,CALCULUS 1,"Function, Limit, Continuity and their applicat...",NaN,คณิตศาสตร์,2560,NaN
1,1,01006031,แคลคูลัส 2,CALCULUS 2,Functions of several variables and theirs appl...,NaN,คณิตศาสตร์,2560,NaN
2,2,01006032,สมการอนุพันธ์และพีชคณิตเชิงเส้นพื้นฐาน,ELEMENTARY DIFFERENTIAL EQUATIONS AND LINEAR A...,Systems of linear equations and solutions. vec...,NaN,คณิตศาสตร์,2560,NaN
3,3,01006004,การฝึกงานอุตสาหกรรม,INDUSTRIAL TRAINING,"During their four-year selected studies, stude...",NaN,เลือกภาค,2560,NaN
4,4,01006028,เตรียมความพร้อมสําหรับวิศวกร,PRE-ENGINEER ACTIVITIES,Participates in activities organized by the Fa...,NaN,เลือกภาค,2560,NaN
...,...,...,...,...,...,...,...,...,...
146,146,01076584,การจำลองระบบด้วยคอมพิวเตอร์,COMPUTER SIMULATION,Modeling and simulation; continuous and discre...,โครงสร้างพื้นฐานของระบบ,เลือกภาค,2564,NaN
147,147,01076592,ผู้ประกอบการกับวิศวกร,ENTREPRENEURSHIP AND THE ENGINEER,"Discusses basic concepts of marketing, busines...",วิชาบูรณาการ,เลือกภาค,2564,NaN
148,148,01076422,การประกอบการและการจัดการด้านเทคโนโลยีสารสนเทศ,IT ENTREPRENEURSHIP AND MANAGEMENT,This course covers the basic of IT entrepreneu...,วิชาบูรณาการ,เลือกภาค,2564,NaN
149,149,01076423,การวางแผนเชิงกลยุทธ์โดยใช้บอร์ดและการ์ดเกม,STRATEGIC PLANNING USING BOARD AND CARD GAME,"This course covers the strategic planning, stu...",วิชาบูรณาการ,เลือกภาค,2564,NaN
150,150,01076577,การจัดการโครงการเทคโนโลยีสารสนเทศ,IT PROJECT MANAGEMENT,Meaning of Project; Importance of information ...,วิชาบูรณาการ,เลือกภาค,2564,NaN

In [111]:
for sentence in df_subject_pre_nlp['abstract']:
  newsentence = sentence
  listnewsentence = []
  for i in newsentence.split():
    i = i.replace(';',"")
    i = i.replace(',',"")
    listnewsentence.append(i)
  newsentence = set(listnewsentence) - set(STOPWORDS)   
  newsentence = " ".join(list(newsentence))
  df_subject_pre_nlp = df_subject_pre_nlp.replace({'abstract': sentence}, {'abstract': newsentence}, regex=True)
df_subject_pre_nlp

,id,subject_id,subject_name_thai,subject_name_eng,abstract,subject_key,subject_type,year,subject_class
0,0,01006030,แคลคูลัส 1,CALCULUS 1,induction derivative integration applications ...,NaN,คณิตศาสตร์,2560,NaN
1,1,01006031,แคลคูลัส 2,CALCULUS 2,etc. three multiple space Polar integration se...,NaN,คณิตศาสตร์,2560,NaN
2,2,01006032,สมการอนุพันธ์และพีชคณิตเชิงเส้นพื้นฐาน,ELEMENTARY DIFFERENTIAL EQUATIONS AND LINEAR A...,z-transformation etc. space applications Fouri...,NaN,คณิตศาสตร์,2560,NaN
3,3,01006004,การฝึกงานอุตสาหกรรม,INDUSTRIAL TRAINING,period. report. course place allows takes with...,NaN,เลือกภาค,2560,NaN
4,4,01006028,เตรียมความพร้อมสําหรับวิศวกร,PRE-ENGINEER ACTIVITIES,career. activities organized successful Partic...,NaN,เลือกภาค,2560,NaN
...,...,...,...,...,...,...,...,...,...
146,146,01076584,การจำลองระบบด้วยคอมพิวเตอร์,COMPUTER SIMULATION,design generation continuous making area probl...,โครงสร้างพื้นฐานของระบบ,เลือกภาค,2564,NaN
147,147,01076592,ผู้ประกอบการกับวิศวกร,ENTREPRENEURSHIP AND THE ENGINEER,bringing firms implementation accounting strat...,วิชาบูรณาการ,เลือกภาค,2564,NaN
148,148,01076422,การประกอบการและการจัดการด้านเทคโนโลยีสารสนเทศ,IT ENTREPRENEURSHIP AND MANAGEMENT,self-improvement IT Financial overview course ...,วิชาบูรณาการ,เลือกภาค,2564,NaN
149,149,01076423,การวางแผนเชิงกลยุทธ์โดยใช้บอร์ดและการ์ดเกม,STRATEGIC PLANNING USING BOARD AND CARD GAME,strategic. improvement covers strategic comput...,วิชาบูรณาการ,เลือกภาค,2564,NaN
150,150,01076577,การจัดการโครงการเทคโนโลยีสารสนเทศ,IT PROJECT MANAGEMENT,Project integration time feasibility scope too...,วิชาบูรณาการ,เลือกภาค,2564,NaN

In [112]:
thisdict = {}
all_docs = [nlp(row) for row in df_subject_pre_nlp['abstract']]
num = 0
for i in range(len(all_docs)):
  check = 0
  sims = []
  if list(thisdict.keys()) == []:
    thisdict[num] = [df_subject_pre_nlp.loc[df_subject_pre_nlp['id'] == i, 'subject_id'].iloc[0]]
    num += 1
  else:
    for x in thisdict:
      temp = df_subject_pre_nlp.loc[df_subject_pre_nlp['subject_id'] == thisdict[x][0], 'abstract'].iloc[0]
      sim = all_docs[i].similarity(nlp(temp))
      sims.append(sim)
    maxsim = max(sims)
    for x in thisdict:
      temp = df_subject_pre_nlp.loc[df_subject_pre_nlp['subject_id'] == thisdict[x][0], 'abstract'].iloc[0]
      sim = all_docs[i].similarity(nlp(temp))
      if sim >= 0.87 and sim == maxsim:
        thisdict[x].append(df_subject_pre_nlp.loc[df_subject_pre_nlp['id'] == i, 'subject_id'].iloc[0])
        check = 1
        break
    if check != 1:
      thisdict[num] = [df_subject_pre_nlp.loc[df['id'] == i, 'subject_id'].iloc[0]]
      num += 1
print(thisdict)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: UserWarning: [W007] The model you're using has no word vectors loaded, so the result of the Doc.similarity method will be based on the tagger, parser and NER, which may not give useful similarity judgements. This may happen if you're using one of the small models, e.g. `en_core_web_sm`, which don't ship with word vectors and only use context-sensitive tensors. You can always add your own word vectors, or use one of the larger models instead if available.
  del sys.path[0]
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:18: UserWarning: [W007] The model you're using has no word vectors loaded, so the result of the Doc.similarity method will be based on the tagger, parser and NER, which may not give useful similarity judgements. This may happen if you're using one of the small models, e.g. `en_core_web_sm`, which don't ship with word vectors and only use context-sensitive tensors. You can always add your own word vectors, or use one of the larger models instead if available.

{0: ['01006030', '01006031', '01006032', '01006028', '01076007', '01076028', '01076421', '01076564', '01076591', '01076585', '01076140', '01076141 ', '01076032', '01076042', '01076043', '01076044', '01076421', '01076564', '01076585'], 1: ['01006004', '01076312', '01006004', '01076312'], 2: ['01076003', '01076010', '01076107'], 3: ['01076253', '01076001', '01076024', '01076253', '01076635'], 4: ['01076002', '01076004', '01076008', '01076263', '01076015', '01076584', '01076103 ', '01076104', '01076034', '01076035 ', '01076582', '01076584'], 5: ['01076005', '01076109', '01076110 '], 6: ['01076006', '01076009', '01076561 ', '01076112', '01076113', '01076114', '01076115'], 7: ['01076011', '01076029', '01076597', '01076630', '01076632', '01076633', '01076116', '01076117', '01076011', '01076597', '01076632'], 8: ['01076012', '01076021', '01076022', '01076513', '01076574', '01076567', '01076012', '01076050', '01076051', '01076414', '01076513', '01076574', '01076567'], 9: ['01076013', '01076582', '01076121'], 10: ['01076014', '01076023', '01076016'], 11: ['01076025', '01076119', '01076120'], 12: ['01076026', '01076036', '01076037'], 13: ['01076027', '01076532', '01076040', '01076041', '01076532'], 14: ['01076311', '01076311', '01076560'], 15: ['01076029', '01076101', '01076118'], 16: ['01076005'], 17: ['01076411', '01076568', '01076589', '01076566', '01076628', '01076411', '01076568', '01076589', '01076566', '01076533', '01076628', '01076422', '01076423', '01076577'], 18: ['01076418', '01076595', '01076418'], 19: ['01076419', '01076053'], 20: ['01076420'], 21: ['01076596', '01076596'], 22: ['01076634', '01076634'], 23: ['01076598 ', '01076598'], 24: ['01076583', '01076583'], 25: ['01076595', '01076629', '01076105', '01076106', '01076599', '01076629', '01076636'], 26: ['01076627', '01076263 ', '01076627', '01076592'], 27: ['01076614', '01076559'], 28: ['01076631', '01076631'], 29: ['01076108'], 30: ['01076052'], 31: ['01006029'], 32: ['01006005'], 33: ['01076420'], 34: ['01076558'], 35: ['01076595']}

# **Add Subject Group Into Rating Data**

In [173]:
def findSubjectType(subject_id):
  lisValue = list(thisdict.values())
  lisKeys = list(thisdict.keys())
  subTypes = "Not Found"
  for i in lisKeys:
    if subject_id in thisdict[i]:
      subTypes = str(i)
  return subTypes

for index, row in df_for_Com_Train.iterrows():
    subId = row['subject_id']
    df_for_Com_Train.at[index,'subjectTypes'] = findSubjectType(subId)

df_for_Com_Train.head(50)

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1684: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = infer_fill_value(value)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

,student_id,subject_id,grade,semester,year,curriculum,subjectTypes
0,f31df81d081367bb50462e95405acd57,01006028,2.5,1,2560,วิศวกรรมคอมพิวเตอร์,0
1,f31df81d081367bb50462e95405acd57,01006030,1,1,2560,วิศวกรรมคอมพิวเตอร์,0
2,f31df81d081367bb50462e95405acd57,01076001,2,1,2560,วิศวกรรมคอมพิวเตอร์,3
3,f31df81d081367bb50462e95405acd57,01076002,3.5,1,2560,วิศวกรรมคอมพิวเตอร์,4
4,f31df81d081367bb50462e95405acd57,01006031,0,2,2560,วิศวกรรมคอมพิวเตอร์,0
5,f31df81d081367bb50462e95405acd57,01076003,1,2,2560,วิศวกรรมคอมพิวเตอร์,2
6,f31df81d081367bb50462e95405acd57,01076004,1.5,2,2560,วิศวกรรมคอมพิวเตอร์,4
7,f31df81d081367bb50462e95405acd57,01076012,1,2,2560,วิศวกรรมคอมพิวเตอร์,8
8,f31df81d081367bb50462e95405acd57,01006031,1.5,3,2560,วิศวกรรมคอมพิวเตอร์,0
9,f31df81d081367bb50462e95405acd57,03456227,4,3,2560,วิศวกรรมคอมพิวเตอร์,Not Found
10,f31df81d081367bb50462e95405acd57,01076006,1.5,1,2561,วิศวกรรมคอมพิวเตอร์,6
11,f31df81d081367bb50462e95405acd57,01076005,1.5,2,2561,วิศวกรรมคอมพิวเตอร์,16
12,f31df81d081367bb50462e95405acd57,03456216,4,3,2561,วิศวกรรมคอมพิวเตอร์,Not Found
13,f31df81d081367bb50462e95405acd57,01076008,2.5,1,2562,วิศวกรรมคอมพิวเตอร์,4
14,f31df81d081367bb50462e95405acd57,01076032,0,1,2562,วิศวกรรมคอมพิวเตอร์,0
15,f31df81d081367bb50462e95405acd57,01076263,2.5,1,2562,วิศวกรรมคอมพิวเตอร์,4
16,f31df81d081367bb50462e95405acd57,01076013,2,2,2562,วิศวกรรมคอมพิวเตอร์,9
17,f31df81d081367bb50462e95405acd57,01076014,3.5,2,2562,วิศวกรรมคอมพิวเตอร์,10
18,f31df81d081367bb50462e95405acd57,01076023,4,2,2562,วิศวกรรมคอมพิวเตอร์,10
19,f31df81d081367bb50462e95405acd57,01076423,3.5,2,2562,วิศวกรรมคอมพิวเตอร์,17
20,f31df81d081367bb50462e95405acd57,01076582,2.5,2,2562,วิศวกรรมคอมพิวเตอร์,9
21,f31df81d081367bb50462e95405acd57,01006004,4,3,2562,วิศวกรรมคอมพิวเตอร์,1
22,f31df81d081367bb50462e95405acd57,01076007,1,1,2563,วิศวกรรมคอมพิวเตอร์,0
23,f31df81d081367bb50462e95405acd57,01076011,2,1,2563,วิศวกรรมคอมพิวเตอร์,7
24,f31df81d081367bb50462e95405acd57,01076015,3.5,1,2563,วิศวกรรมคอมพิวเตอร์,4
25,f31df81d081367bb50462e95405acd57,01076026,1.5,1,2563,วิศวกรรมคอมพิวเตอร์,12
26,f31df81d081367bb50462e95405acd57,01076032,2.5,1,2563,วิศวกรรมคอมพิวเตอร์,0
27,f31df81d081367bb50462e95405acd57,01076311,3,1,2563,วิศวกรรมคอมพิวเตอร์,14
28,f31df81d081367bb50462e95405acd57,01076009,2.5,2,2563,วิศวกรรมคอมพิวเตอร์,6
29,f31df81d081367bb50462e95405acd57,01076010,2,2,2563,วิศวกรรมคอมพิวเตอร์,2
30,f31df81d081367bb50462e95405acd57,01076024,3.5,2,2563,วิศวกรรมคอมพิวเตอร์,3
31,f31df81d081367bb50462e95405acd57,01076025,1,2,2563,วิศวกรรมคอมพิวเตอร์,11
32,f31df81d081367bb50462e95405acd57,01076253,2,2,2563,วิศวกรรมคอมพิวเตอร์,3
33,f31df81d081367bb50462e95405acd57,01076312,3.5,2,2563,วิศวกรรมคอมพิวเตอร์,1
34,f31df81d081367bb50462e95405acd57,01076533,3,2,2563,วิศวกรรมคอมพิวเตอร์,17
37,48c159db28a39eb366ac8ec31b975fb8,01006028,4,1,2560,วิศวกรรมคอมพิวเตอร์,0
38,48c159db28a39eb366ac8ec31b975fb8,01006030,2.5,1,2560,วิศวกรรมคอมพิวเตอร์,0
39,48c159db28a39eb366ac8ec31b975fb8,01076001,3.5,1,2560,วิศวกรรมคอมพิวเตอร์,3
40,48c159db28a39eb366ac8ec31b975fb8,01076002,3,1,2560,วิศวกรรมคอมพิวเตอร์,4
41,48c159db28a39eb366ac8ec31b975fb8,01006031,1.5,2,2560,วิศวกรรมคอมพิวเตอร์,0
42,48c159db28a39eb366ac8ec31b975fb8,01076003,1,2,2560,วิศวกรรมคอมพิวเตอร์,2
43,48c159db28a39eb366ac8ec31b975fb8,01076004,1.5,2,2560,วิศวกรรมคอมพิวเตอร์,4
44,48c159db28a39eb366ac8ec31b975fb8,01076012,4,2,2560,วิศวกรรมคอมพิวเตอร์,8
45,48c159db28a39eb366ac8ec31b975fb8,01006032,2.5,1,2561,วิศวกรรมคอมพิวเตอร์,0
46,48c159db28a39eb366ac8ec31b975fb8,01076006,2,1,2561,วิศวกรรมคอมพิวเตอร์,6
47,48c159db28a39eb366ac8ec31b975fb8,01076007,1,1,2561,วิศวกรรมคอมพิวเตอร์,0
48,48c159db28a39eb366ac8ec31b975fb8,01076009,1.5,2,2561,วิศวกรรมคอมพิวเตอร์,6
49,48c159db28a39eb366ac8ec31b975fb8,01076010,2.5,2,2561,วิศวกรรมคอมพิวเตอร์,2
50,48c159db28a39eb366ac8ec31b975fb8,01076253,2.5,2,2561,วิศวกรรมคอมพิวเตอร์,3
51,48c159db28a39eb366ac8ec31b975fb8,02216715,3.5,3,2561,วิศวกรรมคอมพิวเตอร์,Not Found

# **Surprise**

In [97]:
from surprise import Dataset
from surprise import Reader
from surprise import SVD
from surprise.model_selection import cross_validate
from surprise.model_selection import train_test_split
from surprise.model_selection import GridSearchCV
import numpy as np

In [176]:
min_rating = 0
max_rating = 4

reader = Reader(rating_scale=(min_rating, max_rating))
data = Dataset.load_from_df(df_for_Com_Train[['student_id', 'subjectTypes', 'grade']], reader)

svd = SVD(n_epochs=10)
results = cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=10, verbose=True)

Evaluating RMSE, MAE of algorithm SVD on 10 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Fold 6  Fold 7  Fold 8  Fold 9  Fold 10 Mean    Std
RMSE (testset)    0.6725  0.7359  0.7532  0.6654  0.6764  0.7076  0.7290  0.6849  0.6936  0.7000  0.7018  0.0279
MAE (testset)     0.5243  0.5779  0.5698  0.5155  0.5329  0.5413  0.5717  0.5371  0.5298  0.5607  0.5461  0.0210
Fit time          0.13    0.13    0.13    0.13    0.13    0.13    0.13    0.14    0.14    0.13    0.13    0.01
Test time         0.00    0.00    0.00    0.00    0.00    0.00    0.00    0.01    0.00    0.00    0.00    0.00

In [177]:
param_grid = {
  'n_factors': [20, 50, 100],
  'n_epochs': [5, 10, 20]
}
 
gs = GridSearchCV(SVD, param_grid, measures=['rmse', 'mae'], cv=10)
gs.fit(data)
 
print(gs.best_score['rmse'])
print(gs.best_params['rmse'])

0.6901768540629563
{'n_factors': 20, 'n_epochs': 20}

In [178]:
best_factor = gs.best_params['rmse']['n_factors']
best_epoch = gs.best_params['rmse']['n_epochs']
trainset, testset = train_test_split(data, test_size=.20)

In [179]:
svd = SVD(n_factors=best_factor, n_epochs=best_epoch)
svd.fit(trainset)

In [ ]:
q_Soft = "SELECT * FROM df_SubjectData WHERE subject_type='ซอฟต์แวร์';"
df_SubSoft = sqldf(q_Soft)
df_SubSoft

,subject_id,subject_name_thai,subject_name_eng,abstract,basesubject_id,subject_key,subject_type,del_flag,year
0,01076002,พื้นฐานการเขียนโปรแกรมคอมพิวเตอร์,PROGRAMMING FUNDAMENTAL,Introduction to fundamental concepts of proced...,01076002,None,ซอฟต์แวร์,None,2560.0
1,01076004,การเขียนโปรแกรมเชิงวัตถุ,OBJECT ORIENTED PROGRAMMING,The design and implementation of software usin...,01076004,None,ซอฟต์แวร์,None,2560.0
2,01076005,โครงสร้างข้อมูลและอัลกอริทึม,DATA STRUCTURES AND ALGORITHM,Fundamental of solving problems using data str...,01076005,None,ซอฟต์แวร์,None,2560.0
3,01076008,กระบวนการพัฒนาซอฟต์แวร์,SOFTWARE DEVELOPMENT PROCESSES,Introduction to modern software development pr...,01076008,None,ซอฟต์แวร์,None,2560.0
4,01076011,ระบบปฎิบัติการ,OPERATING SYSTEMS,Organization and structure of operating system...,01076011,None,ซอฟต์แวร์,None,2560.0
5,01076263,ระบบฐานข้อมูล,DATABASE SYSTEMS,Database system concepts; files and databases;...,01076263,None,ซอฟต์แวร์,None,2560.0
6,01076024,สถาปัตยกรรมและการออกแบบซอฟต์แวร์,SOFTWARE ARCHITECTURE AND DESIGN,This course introduces basic concepts and prin...,01076024,None,ซอฟต์แวร์,None,2560.0
7,01076025,สตูดิโอซอฟต์แวร์,SOFTWARE STUDIO,This course is part of software development pr...,01076025,None,ซอฟต์แวร์,None,2560.0
8,01076026,การออกแบบประสบการณ์และส่วนติดต่อผู้ใช้,USER EXPERIENCE AND USER INTERFACE DESIGN,This course provides a comprehensive overview ...,01076026,None,ซอฟต์แวร์,None,2560.0
9,01076234,การเขียนโปรแกรมคอมพิวเตอร์ 1,COMPUTER PROGRAMMING 1,History of computing; basic concepts associate...,01076002,None,ซอฟต์แวร์,None,2554.0
10,01076235,การเขียนโปรแกรมคอมพิวเตอร์ 2,COMPUTER PROGRAMMING 2,"Object-oriented programming principles, method...",01076004,None,ซอฟต์แวร์,None,2554.0
11,01076259,ระบบปฎิบัติการ,OPERATING SYSTEMS,Overview and history of operating systems; Ope...,01076011,None,ซอฟต์แวร์,None,2554.0
12,01076249,โครงสร้างข้อมูลและอัลกอริทึม,DATA STRUCTURES AND ALGORITHMS,Data Structure Definitions; Algorithm Definiti...,01076005,None,ซอฟต์แวร์,None,2554.0
13,01076250,ปฏิบัติการโครงสร้างข้อมูลและอัลกอริทึม,DATA STRUCTURES AND ALGORITHMS LABORATORY,The experiments related to 01076249 DATA STRUC...,01076005,None,ซอฟต์แวร์,None,2554.0
14,01076254,การวิเคราะห์และออกแบบเชิงวัตถุ,OBJECT-ORIENTED ANALYSIS AND DESIGN,Object-oriented design; encapsulation; informa...,01076008,None,ซอฟต์แวร์,None,2554.0
15,01076256,วิศวกรรมซอฟต์แวร์,SOFTWARE ENGINEERING,Professional software development approaches; ...,01076024,None,ซอฟต์แวร์,None,2554.0

In [182]:
def nan_grade_sub(student):
  df_onlyNull = df_for_Com.loc[df_for_Com['student_id'] == student]
  df_onlyNull = df_onlyNull[df_onlyNull['grade'].isna()]
  lis = df_onlyNull['subject_id'].tolist()
  return lis


def generate_recommendation(model, student_id, df, subject, n_items):
   # Get a list of all movie IDs from dataset
   subject_ids = df["subject_id"].unique()
   targetSub = nan_grade_sub(student_id)
   # Get a list of all movie IDs that have been watched by user
   subject_ids_student = df.loc[df["student_id"] == student_id, "subject_id"]
    # Get a list off all movie IDS that that have not been watched by user
   subject_ids_to_pred = np.setdiff1d(subject_ids, subject_ids_student)
 
   # Apply a rating of 4 to all interactions (only to match the Surprise dataset format)
   test_set = [[student_id, subject_id, 4] for subject_id in subject_ids_to_pred]
 
   # Predict the ratings and generate recommendations
   predictions = model.test(test_set)
   pred_ratings = np.array([pred.est for pred in predictions])
   print("Top {0} item recommendations for student {1}:".format(n_items, student_id))
   # Rank top-n movies based on the predicted ratings
   index_max = (-pred_ratings).argsort()[:n_items]
   for i in index_max:
       subject_id = subject_ids_to_pred[i]
       if subject_id in targetSub:
        print(subject_id, pred_ratings[i])


def generate_recommendation_for_Types(model, student_id, df, subject, n_items):
   subject_ids = df["subjectTypes"].unique()
   targetSub = nan_grade_sub(student_id)
   subject_ids_student = df.loc[df["student_id"] == student_id, "subject_id"]
   subject_ids_to_pred = np.setdiff1d(subject_ids, subject_ids_student)
   test_set = [[student_id, subject_id, 4] for subject_id in subject_ids_to_pred]
   predictions = model.test(test_set)
   pred_ratings = np.array([pred.est for pred in predictions])
   print("Top {0} item recommendations for student {1}:".format(n_items, student_id))
   index_max = (-pred_ratings).argsort()[:n_items]
   for i in index_max:
       subject_id = subject_ids_to_pred[i]
       print(subject_id, pred_ratings[i])
 
# define which user ID that we want to give recommendation
userID = 'f31df81d081367bb50462e95405acd57'
# define how many top-n movies that we want to recommend
n_items = 35
# generate recommendation using the model that we have trained
generate_recommendation_for_Types(svd,userID,df_for_Com_Train,df_SubjectData,n_items)

Top 35 item recommendations for student f31df81d081367bb50462e95405acd57:
1 3.3359630086381484
10 3.0398518869611273
Not Found 2.9666476102491224
19 2.8093720518563523
17 2.7795990065716922
15 2.6277312475238914
23 2.585767434118405
11 2.5679790418486736
9 2.5674919644337812
4 2.5610141884999904
3 2.557864426878108
14 2.4996924081734906
8 2.4669181475516297
35 2.413912788493708
12 2.4104929575412983
7 2.285204877542757
6 2.2285267468075953
16 2.1671707526732775
2 2.1344139183239594
0 1.9698247714849009
13 1.9383529386901408

# **Test RMSE for Elective Subject**